<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jwxt.dao.StudentinfoMapper" >
  <resultMap id="BaseResultMap" type="com.jwxt.pojo.Studentinfo" >
    <constructor >
      <arg column="student_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="class_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="class_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="class_time" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    student_id, class_id, class_name, class_time, create_time, update_time
  </sql>
  <insert id="insert" parameterType="com.jwxt.pojo.Studentinfo" >
    insert into jwxt_studentinfo (student_id, class_id, class_name, 
      class_time, create_time, update_time
      )
    values (#{studentId,jdbcType=INTEGER}, #{classId,jdbcType=VARCHAR}, #{className,jdbcType=VARCHAR}, 
      #{classTime,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jwxt.pojo.Studentinfo" >
    insert into jwxt_studentinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="classId != null" >
        class_id,
      </if>
      <if test="className != null" >
        class_name,
      </if>
      <if test="classTime != null" >
        class_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="studentId != null" >
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="classId != null" >
        #{classId,jdbcType=VARCHAR},
      </if>
      <if test="className != null" >
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="classTime != null" >
        #{classTime,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectstuinfoByPrimaryKey" resultMap="BaseResultMap">
    SELECT * FROM jwxt_studentinfo
    where student_id = #{studentId,jdbcType=INTEGER}
  </select>
  <delete id="delstuinfo"  parameterType="map" >
    delete from jwxt_studentinfo
    where student_id = #{studentId,jdbcType=INTEGER}
    and class_id = #{classId,jdbcType=VARCHAR}
  </delete>
  <select id="findall" resultMap="BaseResultMap">
    SELECT * FROM jwxt_studentinfo
  </select>
</mapper>